.stacktoc {font-size:125%;}
.stacktoc a {color:black;text-align:left;}
.stacktoc a.hitbadge {color:white;}
div.parent{} 
div.parent:hover { background:#D8F6CE;}
div.parent span.text:hover { text-decoration: underline; cursor:pointer;}
div.current {color:black; background:#D8F6CE;border-bottom-right-radius:10px 10px;}
div.current:hover {background:#D8F6CE;}

div.current span.text:hover{text-decoration:underline;cursor:pointer;}
div.child span.text:hover {text-decoration:underline;cursor:pointer;color:#59E817;}
.tocitem {text-decoration: none;cursor:pointer;font-size:100%}
.tocitem:hover {background:#D8F6CE;}
.link-selected {background:#C8F6BE;}
.badge:hover {color:#59E817;cursor:pointer;}
